<%- include('partials/header.ejs', {page_title: "login"}) %>

<body>
  <nav>
    <h1>La carte de l'Europe</h1>
  </nav>

  <main>

  </main>

  <footer>
    <p>- copyright EMM -</p>
  </footer>
</body>

</html>