<%- include('partials/header.ejs', {page_title: "login"}) %>

<body>
  <nav>
    <h1>La carte de l'Europe</h1>
  </nav>

  <form id="loginForm">
    <input type="text" name="name" id="nameInput" placeholder="Ton nom">
    <input type="text" name="group" id="groupInput" placeholder="Ton groupe">
    <input type="submit" value="Prendre le test">
  </form>

  <footer>
    <p>- copyright EMM -</p>
  </footer>
</body>

</html>