<%- include('../partials/header.ejs', {page_title: "app"}) %>

<body>
    <nav>
      <h1>Les capitales d'Europe</h1>
    </nav>
    
    <main class="center">
        <table>
            <thead>
                <tr>
                    <th>Pays d'Europe</th>
                    <th>Lettre</th>
                </tr>
            </thead>
            <tbody class="editable">
                <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
                 <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
                 <tr>
                    <td>Argentina</td>
                    <td contenteditable="true"></td>
                </tr>
            </tbody>
        </table>
    </main>

    <div class="big-spacer"></div>
    
    <div class="fixed bottom spacing full-width center">
        <input  type="submit" value="View map">
    </div>
     <!-- <img class="big-img" src="/images/europeCountriesMap.png" alt="Carte d'europe"> -->
  </body>
  
  </html>

  